header {
  border-bottom: 1px solid #ececec;
}

.head-nav {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.head-logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-style {
  color: var(--title-text-color);
}

.navigation {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scale(0, 0);
  transition: transform var(--transition-time);
}

.nav-link:hover::after {
  transform: scale(1, 1);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scale(1, 1);
}

.navigation .nav-link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-time);
}

.navigation .nav-link:hover,
.navigation .nav-link:focus {
  color: var(--accent-color);
}

.navigation .nav-link.current {
  color: var(--accent-color);
}

.head-contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.head-contacts .contact-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--transition-time);
}

.head-contacts .contact-link:hover,
.head-contacts .contact-link:focus {
  color: var(--accent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-icon {
  fill: currentColor;
}
